@if (!initialized) {
    <p>Loading...</p>
} @else if (radioMessages) {
    <ul>
        @for (radioMessage of radioMessages; track $index) {
            <li>
                {{ parser.formatDateTime(radioMessage.date) }}
                <br/>
                <audio controls>
                    <source [src]="radioMessage.recordingUrl" type="audio/mpeg" />
                </audio>
            </li>
        }
    </ul>
} @else {
    <p>No drivers</p>
}

<h3>
    <p>ToDo:</p>
</h3>
<ul>
    <li>Autoodtwarzanie</li>
</ul>
