@if (!initialized) {
    <p>Loading...</p>
} @else if (radioMessages) {
    <div class="buttons">
        <button (click)="markAllAsListened()">mark all as listened</button>
        <button (click)="playAll()">play all</button>
        <input id="autoplay-checkbox" type="checkbox" [checked]="autoplay" (change)="autoplay = !autoplay">
        <label for="autoplay-checkbox">autoplay</label>
    </div>
    <ul>
        @for (radioMessage of radioMessages; track $index) {
            <li>
                <app-radio-message [radioMessage]="radioMessage" (onListened)="playNextOf($event)" [requestPlayEmitter]="requestPlayEmitter" />
            </li>
        }
    </ul>
} @else {
    <p>No team messages</p>
}

<h3>
    <p>ToDo:</p>
</h3>
<ul>
    <li>Autoodtwarzanie</li>
</ul>
